@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<address>
    <a href="https://virtual.ulstu.ru/">Virtual UlSTU</a><br />
    <a href="https://www.ulstu.ru/">Сайт УлГТУ</a>
</address>