@model OsipovCourseWork.Models.ИзоляцияНаКарантин

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ошибка</h2>
@section ErrorSection
{
    @ViewBag.Error
}